<mat-card class="big_card" dropDirective
          (dropEvent)="addDropItem()">
  <div (appClickOutside)="editMode = false">
    <div class="wrapper"
         (appToggleIcons)="toggleIcons($event)">
      <mat-card-title *ngIf="!editMode">
        {{list.title | uppercase}}
      </mat-card-title>
      <div class="edit_wrapper" *ngIf="iconsToggled">
        <mat-icon
          (click)="editMode = true">create
        </mat-icon>
        <mat-icon (click)="deleteList()">close</mat-icon>
      </div>
    </div>
    <app-form [prepopulatedVal]="list.title | uppercase"
              (submitted)="editList($event)"
              *ngIf="editMode">
    </app-form>
  </div>
  <app-card
    *ngFor="let card of list.cards; let cardId = index"
    [card]="card"
    [cardId]="cardId"
    [listId]="listId"
  >
  </app-card>
  <app-form placeholderText="Add new card..."
            (submitted)="addCard($event)"></app-form>
</mat-card>
