<mat-card class="big_card" dropDirective
          (dropEvent)="addDropItem()">
  <div class="wrapper" (appEditMode)="switchMode($event)">
    <mat-card-title>{{list.title | uppercase}}
    </mat-card-title>
    <div class="edit_wrapper" *ngIf="editModeEnabled">
      <mat-icon >create</mat-icon>
      <mat-icon (click)="deleteList()">close</mat-icon>
    </div>
  </div>
  <app-card
    *ngFor="let card of list.cards; let cardId = index"
    [card]="card"
    [cardId]="cardId"
    [listId]="listId"
  >
  </app-card>
  <app-form placeholderText="Add new card..."
            (submitted)="addCard($event)"></app-form>
</mat-card>
