<div (appClickOutside)="editMode = false">
  <div class="wrapper"
       (appToggleIcons)="toggleIcons($event)">
    <mat-card class="little_card"
              *ngIf="!editMode"
              [dragDirective]="card"
              (startDrag)="startDrag(card, cardId)">
      {{card}}
    </mat-card>
    <div class="edit_wrapper" *ngIf="iconsToggled">
      <mat-icon
        (click)="editMode = true">create
      </mat-icon>
      <mat-icon (click)="deleteCard()">close</mat-icon>
    </div>
  </div>
  <app-form [prepopulatedVal]="card"
            (submitted)="editCard($event)"
            *ngIf="editMode">
  </app-form>
</div>
