<div class="page_wrapper stretch">
  <header color="primary">
    <h2>Kanban Board</h2>
    <div class="button_wrapper">
      <button mat-raised-button color="primary">
        button
      </button>

    </div>
  </header>
  <main class="col__center stretch">
    <div class="boards_wrapper">
      <app-board *ngFor="let board of boards"></app-board>
      <app-board *ngIf="!editMode; else edit" (click)="addBoard()">
        Add new board...
      </app-board>
      <ng-template #edit>
        <app-board-form></app-board-form>
      </ng-template>
    </div>
  </main>
</div>
