.boards_wrapper
  margin-top: 1rem
  margin-left: 1rem
  display: flex
  flex-direction: row
  flex-wrap: wrap

.page_wrapper
  flex: 1 1 auto
  background-color: rgba(211, 211, 211, 0.44)

mat-card
  margin-bottom: 10px
  margin-right: 10px

main
  background-color: lighten(#3f51b5, 30%)



