<div class="page_wrapper stretch">
  <mat-toolbar color="primary">
    <span>Kanban Board</span>
  </mat-toolbar>
  <main class="col__center stretch">
    <div class="boards_wrapper">
      <mat-card class="big_card" *ngFor="let board of boards">
        <mat-card-title>{{board.title}}</mat-card-title>
        <mat-card class="little_card" *ngFor="let item of board.list">{{item}}
        </mat-card>
      </mat-card>
      <mat-card *ngIf="!editMode; else edit" (click)="switchMode()" [ngStyle]="{height: '15px'}">
        Add new board...
      </mat-card>
      <ng-template #edit>
        <mat-card>
          <app-board-form (submitted)="switchMode()"></app-board-form>
        </mat-card>
      </ng-template>
    </div>
  </main>
</div>
