<div class="page_wrapper stretch">
  <mat-toolbar color="primary">
    <a routerLink="/">Kanban Board / Trello / Whatever</a>
    <mat-menu #appMenu="matMenu">
      <ng-template *ngIf="!userExists">
        <a routerLink="login"  mat-menu-item>Log In</a>
        <a routerLink="signup"  mat-menu-item>Sign Up</a>
      </ng-template>
      <button *ngIf="userExists" mat-menu-item (click)="logout()">Log Out</button>
      <button mat-menu-item>do something else</button>
      <button mat-menu-item>do something else</button>
      <button mat-menu-item>do something else</button>

    </mat-menu>
    <button mat-icon-button
            [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <main class="col__center stretch">
    <router-outlet></router-outlet>
  </main>
</div>
