<div>
  <form (ngSubmit)="onSubmit()" class="col">
    <mat-form-field>
      <input matInput [formControl]="title"
             placeholder={{placeholderText}}/>
      <button type="button"
              mat-button
              *ngIf="title.value"
              matSuffix
              mat-icon-button>
      </button>
    </mat-form-field>
    <div>
      <button *ngIf="title.value && title.valid"
              mat-raised-button color="primary"
              type="submit">submit
      </button>
    </div>
  </form>
</div>
